@font-face {
	font-family: "Helvetica Inserat LT Std";
	src: url("helvetica-inserat.otf") format("opentype");
}

@font-face {
	font-family: "Roboto";
	src: url("roboto.ttf") format("opentype");
}

body{
	background: #920000 url('../img/bg.png') no-repeat center center fixed;
	font-family: "Helvetica Inserat LT Std";		
	font-family: 'Roboto', sans-serif;
	background: #fff;
	padding: 15px;
}
.total-txt-hin{
    font-size: 80px;
    font-weight: bolder;
}
.lead-margin-txt-hin{
    font-size: 60px;
    font-weight: bolder;	
}

.btn-legend{
    width: 100%;
    background-color: #000000 !important;
    box-shadow: inset 10px 10px 10px 0 rgba(229,229,229,0.5);
    border: 1px solid #979797;
    border-radius: 47px;                
}
#mapContainer{
    width: 50%;
    float: left;
    height: 1150px;
}
#mapContainer path{
    stroke: #111;
}
#swing_buttons{
    margin-top: 110px;
    width: 22%;
    float: left;
    padding-left: 65px;
    min-height: 300px;
}
#lead_margin_container{
    margin-top: 150px;
    width: 25%;
    float: left;
    padding-left: 65px;
    min-height: 300px;                
}
.swing-btn-table{
    width: 100%;
}
.swing-btn-table thead th{
    text-align: center;
    border-bottom: gray;
    border-bottom-style: ridge;
    font-size: 40px;
}
.swing-btn-table th{
    font-size: 35px;
    text-align: center;
    height: 62px;
}
.swing-btn{
    /*float: left;*/
    width: 100%;
    padding-bottom: 5%;
}
.clicked{
/*    background-color: #6F6F6F !important;
    box-shadow: inset 10px 10px 10px 0 rgba(229,229,229,0.5);
    border: 11px solid #000000;
    border-radius: 47px;*/
    border: 8px solid #17A05E !important
}
.btn.disabled, .btn[disabled], fieldset[disabled]{
    cursor: default;
    background: #241A0F;
    box-shadow: inset 10px 10px 15px 0 rgba(144,138,138,0.5);
    opacity: 1.0;
}
.disp-txt{
    text-align: center;
    font-size: 50px;
}
#less_one_txt{
    font-size: 100px;
}
#gramener-logo{
    /*margin-top: -18px;*/
    height: 35px;
    margin-right: 28px;
}
a{
    display: inline-block;
}
#refresh-logo{
    margin-top: -10px;
    margin-right: 25px;
}
.dropdown-content p:hover, .dropdown span:hover{
    color: #fff;
    opacity: 0.8;
}

.border {
    border-right: 4px solid gray !important;
    background: #000 !important;
}


.bold-weight{font-weight: bold}
.year-type{display: inline-block;}
.fixed-top-contestant{
	position: fixed;
	z-index: 5001;
	width: 390px;
	background: #920000;
	padding: 0px 10px;
}
.fixed-top-header{margin-top: 75px;}
.logo-tv{display: none}
.logo-desktop{display: block}

#header{
	height: 62px;
	background: #d8d8d8;
	border: 1px solid #979797;
	position: fixed;
	z-index: 5000;
	width: 98%;
	background: linear-gradient(180deg, #81000B 0%, #9F041B 100%);
}

#title{
	margin-top: 10px;
	margin-left: calc(50% - 175px);
	font-size: 32px;
	color: #ffffff;
	margin-right: 100px;
	cursor: pointer;
	font-weight: bold;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left:-15px;
}

#filter-state,  #filter-year, #filter-agency{
	color: #ffffff;
	font-family: "Roboto";
	background: #000000;
	font-size: 20px;
	padding: 17.5px 20px;
	min-width: 20px;
	margin: -2px 0 0 -1px;
}

.dropdown{
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.dropdown-content{
		display: none;
		position: absolute;
		background-color: #000000;
		border: 0.25px solid #DECDCC;
		min-width: 200px;
		margin-left: -20px;
		margin-top: 17.5px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
}

.dropdown-content > p {
	width: 175px;
}

.dropdown:hover .dropdown-content {
		display: block;
}

.none{
	display: none !important;
}

.dropdown-content p{
	margin:0;
}

.dropdown-content p:hover, .dropdown span:hover{
	color: white;
}

.top_3_imgs{
	width: 60px;
	height: 60px;
}

.curr-cont-img{
	width: 52.5px;
	height: 52.5px;
}

div.border-right{
	position: relative;
}

div.border-right:before{
	content: '';
	position:absolute;
	left: 100%;
	top: 0;
	border-top: 30px solid transparent;
	border-bottom: 33px solid transparent;
	border-left: 33px solid #000000;
}

div.separator{
	width: 1px;
}

div.border{
	border-right: 4px solid black;
}

.leaflet-container {
	background-color: transparent;
	margin: 0 auto;
}

.btn-filter{
	font-family: "Roboto";
	border: 0px;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 50px;
}

.btn-filter-clearall, .btn-filter-clearall:hover, .btn-filter-clearall:active{
	background-color: black !important;
	color: #FCB2AD !important;
}

.btn-filter-type, .btn-filter-type:visited{
	margin: 0 0 2.5px 5px;
	background-color: #050505 !important;
	color: white !important;
}

.close-info{
	margin: 5px -5px;
	background-color: #050505 !important;
	color: white !important;
	float: right;
	height: 30px;
	width: 35px;
}

.btn-filter-type:hover{
	color: white;
}

.filter-types{
	margin-right: 10px;
	font-family: "Roboto";
	font-size: 15px;
	line-height: 40px;
	color: black;
}

.color-white{
	color: white !important;
}

#filters p{
	margin-top: 7.5px;
}

button:focus {outline:none !important}

.btn-filter-active, .btn-filter-active:hover, .btn-filter-active:active, .btn-filter-active:visited{
	border: 5px solid red !important;
}

.info{
	font-family: "Roboto";
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
}

.margin-left-90{
	margin-left: 70px !important;
}

.margin-left-10{
	margin-left: 10px !important;
}


.contestant-info{
	background: #727272;
	height: 550px;
	overflow-y: scroll;
	box-shadow: inset 5px 5px 0px 0px grey;
}


.padding-20{
	padding: 20px
}

::-webkit-scrollbar {
		display: none;
}

.legendbtn{
	background: #241A0F;
	box-shadow: inset 10px 10px 15px 0 rgba(144,138,138,0.5);
}
.circle-shadow {
		-webkit-filter: drop-shadow( -5px -5px 5px #000 );
						filter: drop-shadow( -5px -5px 5px #000 );
}

.leaflet-control{
	width: 275px !important;
	text-align: left !important;
	margin-left: 0px !important;
	margin-top: 50px !important;
}

.leaflet-popup-content {
		margin: 5px 10px;
		line-height: 1.4;
		font-size: 15px;
		background: black;
		color: white;
}

.leaflet-popup-content-wrapper{
	background: black;
		margin-left: 150px;
}

.leaflet-popup-tip-container{
		display: none;
}

.leaflet-popup-tip{
	background: black;
		margin-left: 2.5px;	
		margin-top: -30px;
}


.legendPara{
	margin: 0;
}

#filters{
	margin-top: 75px;
}

.font-50{
	font-size: 25px !important;
}

.font-40{
	font-size: 20px !important;
}


#totalseats{
	margin-left: 20px;
	font-size: 25px;
	font-family: "Roboto";
	color:black;
	font-weight: bold;
}

.btn-legend{
	width: 90% !important;
	font-size: 50px !important;
}

#area-votes-classify{
	 margin: 0px;
	 display: none;
}

.info-votes{
	margin-right: 30px;
	font-size: 20px;
	font-family: "Helvetica Inserat LT Std";
}

.margin-top-10{
	margin-top: 0px !important;
}

.font-30{
	font-size: 15px !important
}

.font-35{
	font-size: 20px !important
}

.padding-top-5{
	padding-top: 5px !important;
}

.margin-right-30{
	margin-right: 30px !important;
}

.margin-top-35{
	margin-top:15px !important;	
}

.font-25{
	font-size: 15px !important;	
}

.font-20{
	font-size: 20px !important;	
}

#curr-cont-label{
	font-size: 20px;
	color: white;
	font-family: "Roboto";
	margin-top: 10px;
}

#curr-cont-line{
	margin-top: -22.5px; 
	width: 55%; 
	margin-right: 0;
}

.curr-cont-contestants{
	margin-left: 60px;
	margin-top: -52.5px;
}


.filter-close-icon{
	margin-top: -2px;
}

.btn-filter-remove{
	font-size: 10px;
	line-height: 20px;
}

.easy-autocomplete{
	width: 100% !important;
	font-size: 15px !important;
	margin-bottom: 10px !important;
	font-family: 'Roboto' !important;
}

#constFilter{
	width: 100%;
}

.eac-item{
	font-size: 15px !important;
}

.leaflet-control button{
	width: 50% !important;
	font-size: 20px !important;
}

#filters p:first-child span{
	font-size: 32px !important;
}
.btn-landing {
	font-size:25px;
	font-family: "Roboto";
	text-transform: uppercase;
	color:black;
	line-height:50px;
	border: 3px solid #000;
	border-radius: 100px;
	padding: 10px;
}
.btn-landing:hover{
	text-decoration: none;
	color:white;
	background: #920000;
}

#landing-div{
	margin-top: 125px; 
	text-align: center;
}

#landing-title{
	margin-bottom: 75px;
	font-weight: bold;
	font-size: 50px;
	font-family: "Roboto";
}

.btn-block{margin-bottom: 20px}
.landing-row{margin-bottom: 20px}


/* CSS for large devices */

@media screen and (min-width: 1920px) {
	.logo-container{
		margin-top: -64px;
	}	
	.btn-block{margin-bottom: 20px}
	.landing-row{margin-bottom: 20px}
	.logo-tv{display: block}
	.logo-desktop{display: none}
	.fixed-top-contestant{
		width: 100%;
		position: inherit;
		background: #B90000;
	}
	.fixed-top-header{margin-top: 40px;}
	body{
		background: url(../../img/counting_bg_tv.png) repeat fixed !important;
		/*background: url('../img/bg.png') no-repeat center center fixed;
		background-size: cover;*/
		font-family: "Helvetica Inserat LT Std";
		/*padding: 15px;*/
		/*background: #d9d9d9;
		background: -moz-linear-gradient(left, #d9d9d9 0%, #999999 100%);
		background: -webkit-linear-gradient(left, #d9d9d9 0%,#999999 100%);
		background: linear-gradient(to right, #d9d9d9 0%,#999999 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#999999',GradientType=1 );*/
	}

	#filter-state,  #filter-year, #filter-agency{
		font-size: 46px;
		padding: 18px 30px;
		background: #000000;
		font-family: "Helvetica Inserat LT Std";
	}

	#title{
		margin-top: -2px;
		font-size: 75px;
		margin-left: calc(50% - 250px);
		font-family: "Helvetica Inserat LT Std";
		font-weight: bold;
	}

	.year-type{display: none}

	div.border-right:before{
		border-top: 50px solid transparent;
		border-bottom: 50px solid transparent;
		border-left: 50px solid #000000;
	}
	
	.leaflet-control{
		margin-top: 150px !important;
	}
	
	#filters{
		margin-top: 175px;
	}
	
	#filters p:first-child span{
		font-size: 50px;
	}
	
	.filter-types{
		font-size: 25px;
		color: white !important;
		line-height: 70px !important;
		font-family: "Helvetica Inserat LT Std";
	}
	
	.btn-filter{
		font-size: 25px;
		padding: 10px 20px;
		font-family: "Helvetica Inserat LT Std";
		box-shadow: inset 5px 5px 10px 0 rgba(192,192,192,0.5);
	}
	
	.btn-filter-type, .btn-filter-type:visited{
		margin: 0 5px 10px 5px !important;
	}

	.leaflet-control{
		margin-top: 150px !important;
		width: 350px !important;
		text-align: center !important;
		margin-left: 0px !important;
	}
	
	#filters{
		margin-top: 175px;
	}

	.leaflet-popup-content-wrapper, .leaflet-popup-tip-container{
		display: none;
	}

	#header{
		height: 100px !important;
		width: 98.5% !important;
		box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
		/*background: radial-gradient(circle, #F9F8F8 0%, #A4A4A2 100%) !important;*/
		background: linear-gradient(180deg, #81000B 0%, #9F041B 100%);
		top: 0px;
	}
	
	.dropdown-content{
			display: none;
			position: absolute;
			background-color: #000000;
			border: 0.25px solid #DECDCC;
			min-width: 300px;
			margin-left: -30px;
			margin-top: 17.5px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 1;
	}

	.dropdown-content > p {
		width: 325px;
	}	

	.clicked{
/*	    background-color: #6F6F6F !important;
	    box-shadow: inset 10px 10px 10px 0 rgba(229,229,229,0.5);
	    border: 11px solid #000000;
	    border-radius: 47px;*/
        border: 8px solid #17A05E !important;
	}
}
@media screen and (min-width: 3200px) {
	.swing-btn {
	    width: 100%;
	    padding-bottom: 0%;
	}
	.dropdown-content > p {
	    width: 500px;
	}
	body{
		background: #d9d9d9 !important;
	    background: -moz-linear-gradient(left, #d9d9d9 0%, #999999 100%) !important;
	    background: -webkit-linear-gradient(left, #d9d9d9 0%,#999999 100%) !important;
	    background: linear-gradient(to right, #d9d9d9 0%,#999999 100%) !important;
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#999999',GradientType=1 );
		width: 79%;
		margin: 0 7% 0 14%;
	}
	.dropdown-content{
		min-width: 550px;
	}
	.clicked{
	    /*background-color: #6F6F6F !important;*/
	    /*box-shadow: inset 10px 10px 10px 0 rgba(229,229,229,0.5);*/
	    border: 11px solid #000000;
	    border-radius: 47px;
	}
	#header{
		height: 160px !important;
		width: 78% !important;
	}
	.logo-container {
	    margin-top: -32px;
	}
	#filter-state, #filter-year, #filter-agency {
    font-size: 74px;
    padding: 26px 30px;
	}
	div.border-right:before {
    border-top: 83px solid transparent;
    border-bottom: 79px solid transparent;
    border-left: 80px solid #000000;
	}
	#title{
		font-size: 80px;
		margin-top: 25px;
	}
	#gramener-logo {
    margin-top: -70px;
    margin-right: 56px;
    margin-bottom: -17px;
    /*width: 370px;*/
    height: 50px;
	}
	#refresh-logo {
    margin-top: -55px;
    margin-right: 40px;
    width: 60px;
    height: 60px;
	}
	#swing_buttons, #lead_margin_container{
		margin-top: 210px;
	}
	#mapContainer {
    width: 50%;
    float: left;
    height: 1400px;
	}
	.swing-btn-table th{
		font-size: 42px;
	}
	.swing-btn-table thead th{
		font-size: 50px;
	}
	.swing-btn-table thead td{
		font-size: 46px;
	}
	.disp-txt {
    	font-size: 50px;
	}
	#less_one_txt {
    	font-size: 110px;
	}
	.btn-filter{
		padding: 14px 20px;
	}
	.btn-filter{
		font-size: 42px !important;
	}
}